body, html, div, section {
	margin: 0;
	padding: 0;
}

body
{
	background-color: #333;
	color: white;
	font-family: "Quicksand", sans-serif;
	font-weight: 200;
	font-size: 16pt;
	padding-left: 1em;
	border-left: 1em solid #0f0;
	padding-right: 5%;
}

body.ontology{
    border-left: 1em solid #00f;
}

body.content{
    border-left: 1em solid #f00;
}

#renditions
{
	font-family: "Rubik Mono One", sans-serif;
}

h1
{
	text-decoration: underline #ff0 double;
    font-size: 270%;
}

h2
{
    font-size: 180%;
}

h3
{
    font-size: 100%;
}

h1, h2, h3
{
	color: white;
	font-family: "Rubik Mono One", sans-serif;
	font-weight: normal;
	clear: both;
}

a, a:visited
{
	color: white;
	text-decoration: underline red double;
}

a[rel="http://id.colourcountry.net/false/mentions"]
{
    text-decoration: underline green double;
}

a[rel="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"]
{
    text-decoration: underline blue double;
}

a.wikidata {
	color: #0ff;
	text-decoration: none;
}

@media (min-width: 60em)
{
	body
	{
		padding-left: 25%;
	}

    #links
    {
        position: absolute;
        left: 2em;
        top: 1em;
        width: 20%;
    }

}

code
{
	font-weight: bold;
	color: #0f0;
	font-family: 'VT323', monospace;
}

img
{
	max-width: 100%;
}

.asEmbed
{
	padding: 1em;
  max-width: 100%;
	min-width: 400px;
	border-left: 8px solid red;
  background-color: black;
  display: table;
}

figure
{
	max-height: 600px;
}

figcaption
{
    font-size: 80%;
    font-style: italic;
    margin: 0.5em 0 0 0;
}

.asEmbed h1
{
    margin-top: 0;
}

.asTeaser
{
	display: inline-block;
	margin: 0 0 1em 0;
	padding: 0.5em;
        width: 250px;
	border-left: 8px solid red;
    background-color: black;
}

.asEmbed a, .asTeaser a
{
	text-decoration: none;
}

.asTeaser p
{
    margin: 0.5em 0 0 0;
}

#links ul
{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

#debug
{
    font-size: 10pt;
    color: #ff0;
}
